<html>
<head>
    <title>Ben's First Blog</title>
</head>
<body>
    <h1>Hello there!</h1>
    <p style="font-size:17.5px;">Welcome to my first blog!</p>
    <p style="font-size:17.5px;">Hope you enjoy it.</p>
    <div>
    <h1>Django Girls Blog</h1>
</div>

<div>
    <p style="font-size:12px;">published: 01.16.2018, 13:46</p>
    <h2>My first post</h2>
    <p style="font-size:15px;">Hey guys how are you doing today. Just got this blog up hopefully I can make some more cool changes. I would definitely like to add in css using some bootstrap to make a dark background and light text along with some text formatting to push the divs into seperate boxes.</p>
</div>
</body>
</html>
